/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #MAIN
\*------------------------------------*/
#header {
  font-size: 1.4em;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
/*------------------------------------*\
    #ITEMS
\*------------------------------------*/
.files-gallery .items .item,
.template-upload {
  padding-left: 0;
  padding-right: 0;
}

.template-upload .preview .progress {
  margin: 20px 0;
  width: 100%;
}

.template-upload .preview canvas {
  display: none;
}

.files-gallery .items .item .thumbnail,
.template-upload .thumbnail {
  margin-bottom: 0;
}

.files-gallery .items .item a {
  position: relative;
  display: inline-block;
}
.files-gallery .items .item a img:hover {
  opacity: 0.9;
}
.files-gallery .items .item a .checked {
  display: none;
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 2em;
}
.files-gallery .items .item .thumbnail.active {
  outline: 5px solid #5ba6f7;
  outline-offset: -5px;
}
.files-gallery .items .item .active .checked {
  display: inline-block;
}
/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
.pagination {
  display: block;
  margin-top: 10px;
}
/*------------------------------------*\
    #DASHBOARD
\*------------------------------------*/
#fileinfo .loading {
  width: 298px;
  margin-top: 50px;
  font-size: 5em;
  color: #5ba6f7;
  text-align: center;
}
#fileinfo ul {
  padding: 0;
  list-style: none;
}
/*------------------------------------*\
    #UPLOAD MANAGER
\*------------------------------------*/
#uploadmanager {
  padding: 0 15px 0 0;
}
#uploadmanager .progress {
  margin-top: 10px;
}
/*------------------------------------*\
    #SPIN ICONS
\*------------------------------------*/
.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  /* IE 9 */
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
