.controls-item {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 1px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}