.mode .mode__block_hide {
	display: none;
}

.template-upload {
	padding: 0;
}

.template-upload .preview .progress {
	margin: 20px 0;
	width: 100%;
}

.template-upload .preview canvas {
	display: none;
}

.template-upload .thumbnail {
	margin-bottom: 0;
}

.gallery .gallery__items {
	overflow: hidden;
}

.gallery .gallery__pager .pagination > li > a,
.gallery .gallery__pager .pagination > li > span {
	border: 1px solid #ddd;
}

#standalone-filemanager .file-details-form .file-details-form__insert-button {
	display: none;
}

.file-details .loading {
	width: 298px;
	margin-top: 50px;
	font-size: 5em;
	color: #5ba6f7;
	text-align: center;
}

.file-details .details-list {
	padding: 0;
	list-style: none;
}

/*------------------------------------*\
    #SPIN ICONS
\*------------------------------------*/
.spin {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
