.mode .mode__block_hide {
	display: none;
}

.template-upload {
	padding: 0;
}

.template-upload .preview .progress {
	margin: 20px 0;
	width: 100%;
}

.template-upload .preview canvas {
	display: none;
}

.template-upload .thumbnail {
	margin-bottom: 0;
}

.file-manager__content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.details-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.attache-button .insert-button {
	width: 100%;
	border-radius: 1px;
	border-color: #0f96e7;
	background-color: #0f96e7;
	color: #fff;
}

.attache-button .insert-button:hover {
	border-color: #138dd6;
	background-color: #138dd6;
	color: #fff;
}

@media (min-width: 768px) {
	.file-manager__content {
		flex-direction: row;
	}
	
	.gallery {
		padding-right: 10px;
		width: 61.803399%;
	}
	
	.details-bar {
		padding-left: 10px;
		width: 38.196601%;
	}
	
	.attache-button {
		padding-bottom: 100px;
	}
}

.gallery .gallery__items {
	overflow: hidden;
}

.gallery .gallery__pager .pagination > li > a,
.gallery .gallery__pager .pagination > li > span {
	border: 1px solid #ddd;
}

#standalone-filemanager .insert-button {
	display: none;
}

.file-details .loading {
	width: 298px;
	margin-top: 50px;
	font-size: 5em;
	color: #5ba6f7;
	text-align: center;
}

.file-details .details-list {
	padding: 0;
	list-style: none;
}

.cropper {
	position: relative;
}

.cropper__control-block {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
}

.cropper__control-block .controls .controls-item {
	border: none;
	border-radius: 1px;
	padding: 2px 8px;
	font-size: 20px;
	background: #333;
	opacity: 0.8;
	color: #fff;
}

.cropper__control-block .controls button:hover {
	background: #fff;
	color: #333;
}

.cropper__image-block {
	max-height: 70vh;
}

.cropper__image-block img {
	display: block;
	max-width: 100%;
	height: auto;
}