.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header-bar__title {
	margin-right: 20px;
}

.title .title__icon,
.title .title__text {
	display: inline-block;
	font-size: 30px;
}

.header-bar__upload-form {
	flex-grow: 1;
	margin-right: 20px;
}

.fileupload-buttonbar {
	display: flex;
}

.fileupload-buttonbar .fileupload-buttonbar__buttons {
	margin-right: 20px;
}

.fileupload-buttonbar .fileupload-progress {
	flex-grow: 1;
}

.fileupload-progress .progress {
	margin-bottom: 0;
}

.header-bar__close-button {
	align-self: flex-start;
}

#standalone-filemanager .header-bar__close-button {
	display: none;
}

.main-controls .main-controls__control {
	padding: 6px 15px;
	font-size: 14px;
}

.main-controls .main-controls__control_cancel {
	border-color: #0f96e7;
	background: #fff;
	color: #333;
}

.main-controls .main-controls__control_cancel:hover {
    border-color: #057AC1;
    background-color: #f6f6f6;
    color: #222;
}

.main-controls .main-controls__control_save {
	border-color: #0f96e7;
    background-color: #0f96e7;
    color: #fff;
}

.main-controls .main-controls__control_save:hover {
    border-color: #057AC1;
    background-color: #057AC1;
}