.selected-file {
	display: inline-block;
}

.gallery-items__item {
	float: left;
	padding: 0;
	width: 33.333333%;
}

@media (min-width: 600px) {
	.gallery-items__item {
		width: 20%;
	}
}

.checker {
	display: none;
}

.media-file .media-file__link {
	display: block;
	position: relative;
	margin-bottom: 0;
}

.media-file .media-file__link img {
	display: block;
	border: 1px solid #fff;
	width: 100%;
}

.media-file .media-file__link:hover {
	opacity: 0.9;
}

.media-file .media-file__link_checked .checker {
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 3px 6px;
	background: #333;
	opacity: 0.8;
	color: #fff;
}