.checker {
  display: none;
}

.media-file__link_checked .checker {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 2em;
}

.gallery-items__item {
  padding-left: 0;
  padding-right: 0;
}